body{
  margin: 0;
  padding: 0;
}

.img {
  opacity: 0;
  filter: blur(12px);
  transform: scale(1.05);
  transition:opacity 0.8s ease-out,filter 1s ease-out,transform 1s ease-out;
}
.img.loaded {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
}
.lazy-container {
  display: grid;
  grid-template-columns: repeat(3,minmax(100px,1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;

}
img{
  width: 100%;
  height: auto;
  border-radius: 12px;

}