.img {
  opacity: 0.3;
  transform: translateY(10px);
  filter: blur(8px);
  transition: opacity 0.6s ease, transform 0.6s ease, filter 0.6s ease;
}
.img.loaded {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}
.lazy-container {
  display: grid;
  grid-template-columns: repeat(3,minmax(100px,1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
  

}